<section>
  <h1>Ranking</h1>
  <div class="search">
    <input type="text" placeholder="Busca por nome" />
    <button>Buscar</button>
  </div>
  <div class="kill-list">
    <div class="kill-header">
      <div class="name">
        <h2>Name</h2>
      </div>
      <div class="kill">        
        <h2>Kills</h2>
      </div>
    </div>
    <div class="kill-content">
      <ul>
        <li *ngFor="let k of kills">
          <span class="name">{{k.user}}</span>
          <span [ngClass]="{ 'negative' : k.kills < 0 }" class="kill">{{k.kills}}</span>
        </li>        
      </ul>
    </div>
  </div>
</section>